In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-science-job-posting-on-glassdoor/Uncleaned_DS_jobs.csv
/kaggle/input/data-science-job-posting-on-glassdoor/Cleaned_DS_Jobs.csv

# DATA CLEANING & TRANSFORMATION
## *DS JOBS ON GLASSDOR*

In [2]:
import numpy as np
import pandas as pd

In [3]:
job_data = pd.read_csv ("/kaggle/input/data-science-job-posting-on-glassdoor/Uncleaned_DS_jobs.csv")

In [4]:
job_data.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [5]:
job_data.dropna()
col_names = list(job_data.columns) #list of column names to see which colunm is irrelevant to use

In [6]:
col_names

['index',
 'Job Title',
 'Salary Estimate',
 'Job Description',
 'Rating',
 'Company Name',
 'Location',
 'Headquarters',
 'Size',
 'Founded',
 'Type of ownership',
 'Industry',
 'Sector',
 'Revenue',
 'Competitors']

In [7]:
job_data= job_data.drop(['index', 'Size', 'Founded', 'Type of ownership', 'Competitors', 'Revenue', 'Headquarters'], axis=1)

In [8]:
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",Advertising & Marketing,Business Services

In [9]:
# remove the number in company name column
job_data['Company Name'] = job_data['Company Name'].str.replace('\d+', '', regex=True)

In [10]:
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n.,"New York, NY",Advertising & Marketing,Business Services

In [11]:
#remove \n in the company name column
job_data['Company Name'] = job_data['Company Name'].str.replace('\n', '')
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services

In [12]:
#remove (Glassdoor est.) in the salart estimate column
job_data['Salary Estimate'] = job_data['Salary Estimate'].str.replace(r"\(.*\)","", regex = True)
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services

In [13]:
#replace K in salary into 000
job_data['Salary Estimate'] = job_data['Salary Estimate'].str.replace('K', '000')
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137000-$171000,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137000-$171000,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137000-$171000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services

In [14]:
#remove unwanted words in job description
job_data['Job Description'] = job_data['Job Description'].str.replace('\n', '')
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services

In [15]:
#split location column into City & State
job_data[['City', 'State']] = job_data['Location'].str.split(', ', n=1, expand=True)
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector,City,State
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance,New York,NY
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services,Chantilly,VA
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services,Boston,MA
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing,Newton,MA
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services,New York,NY

In [16]:
#drop location column
job_data= job_data.drop('Location', axis=1)
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,Insurance Carriers,Insurance,New York,NY
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,Research & Development,Business Services,Chantilly,VA
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,Consulting,Business Services,Boston,MA
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,Electrical & Electronic Manufacturing,Manufacturing,Newton,MA
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,Advertising & Marketing,Business Services,New York,NY

In [17]:
job_data = job_data.reset_index(drop=True)
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,Insurance Carriers,Insurance,New York,NY
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,Research & Development,Business Services,Chantilly,VA
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,Consulting,Business Services,Boston,MA
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,Electrical & Electronic Manufacturing,Manufacturing,Newton,MA
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,Advertising & Marketing,Business Services,New York,NY

In [18]:
job_data.dtypes

Job Title           object
Salary Estimate     object
Job Description     object
Rating             float64
Company Name        object
Industry            object
Sector              object
City                object
State               object
dtype: object

In [19]:
# Function to filter dataset for a specific city
def city_filter(city):
    filtered_city = job_data[job_data['City'] == city]
    return filtered_city

In [20]:
city_filter('New York')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,Insurance Carriers,Insurance,New York,NY
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,Advertising & Marketing,Business Services,New York,NY
20,Data Scientist,$137000-$171000,Role DescriptionAs a data scientist at Tripleb...,3.2,Triplebyte.,Computer Hardware & Software,Information Technology,New York,NY
21,Data Scientist/Machine Learning,$137000-$171000,"PulsePoint™, a global programmatic advertising...",4.3,PulsePoint.,Internet,Information Technology,New York,NY
66,Data Scientist,$79000-$131000,"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation.,Internet,Information Technology,New York,NY
76,"Data Engineer, Enterprise Analytics",$79000-$131000,DescriptionThe Data Engineer on the Enterprise...,3.1,Healthfirst.,Insurance Carriers,Insurance,New York,NY
78,Data Scientist,$79000-$131000,Job BriefThe ideal candidate will have previou...,2.9,IFG Companies.,Insurance Carriers,Insurance,New York,NY
97,"Data Scientist, Kinship - NYC/Portland",$99000-$132000,Back to search resultsPrevious jobNext jobJOB ...,3.9,Mars.,Food & Beverage Manufacturing,Manufacturing,New York,NY
115,Data Scientist,$99000-$132000,***Please note: All hiring and recruitment at ...,3.6,Spring Health.,Health Care Services & Hospitals,Health Care,New York,NY
173,Senior Data Scientist - Algorithms,$101000-$165000,Company Description: Quartet is a pioneering h...,3.9,Quartet Health.,Enterprise Software & Network Solutions,Information Technology,New York,NY
182,Sr. Data Scientist II,$56000-$97000,Data ScientistBefore the dawn of everything in...,3.5,Argo Group US.,Insurance Carriers,Insurance,New York,NY
194,Senior Data Scientist - R&D Oncology,$56000-$97000,"At AstraZeneca,we work together to deliver inn...",4.0,AstraZeneca.,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,New York,NY
221,Data Scientist/Machine Learning,$71000-$123000,"PulsePoint™, a global programmatic advertising...",4.3,PulsePoint.,Internet,Information Technology,New York,NY
234,Sr. Data Scientist II,$71000-$123000,Data ScientistBefore the dawn of everything in...,3.5,Argo Group US.,Insurance Carriers,Insurance,New York,NY
242,Software Data Engineer,$90000-$124000,1010data values:Integrity: Doing the right thi...,3.1,data.,Computer Hardware & Software,Information Technology,New York,NY
253,Data Scientist,$90000-$124000,You are key to helping global clients make bet...,4.1,Gallup.,Consulting,Business Services,New York,NY
254,Data Scientist,$90000-$124000,Job DescriptionBusiness Insider and Insider In...,3.3,Insider Inc.,News Outlet,Media,New York,NY
258,Data Scientist,$90000-$124000,Full Time Data ScientistThe Drive Media is see...,5.0,"The Drive Media, Inc..",-1,-1,New York,NY
269,"Data Engineer, Digital & Comp Pathology",$91000-$150000,Paige is a software company helping pathologis...,5.0,Paige.,Enterprise Software & Network Solutions,Information Technology,New York,NY
272,Data Scientist,$91000-$150000,Business Unit: Data Scientist Comcast brings t...,3.5,Comcast.,-1,-1,New York,NY
286,Senior Data Scientist - R&D Oncology,$141000-$225000,"At AstraZeneca,we work together to deliver inn...",4.0,AstraZeneca.,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,New York,NY
296,Data Scientist,$141000-$225000,"Job DescriptionExpertise in NLP, including ana...",3.4,SleePare.,Other Retail Stores,Retail,New York,NY
298,Data Scientist,$141000-$225000,--------Important: The hiring process for this...,3.5,Dolphin.,"Hotels, Motels, & Resorts",Travel & Tourism,New York,NY
301,Data Scientist,$141000-$225000,Location: Anywhere in the US or Canada | Locat...,3.7,TA Digital.,Computer Hardware & Software,Information Technology,New York,NY
308,Data Scientist,$145000-$225000,Data ScientistRequirementsMS or PhD in Compute...,5.0,Kollasoft Inc..,-1,-1,New York,NY
310,Data Scientist,$145000-$225000,Job DescriptionTitle: Data ScientistLocation:R...,4.4,Adwait Algorithm.,IT Services,Information Technology,New York,NY
317,Data Scientist,$145000-$225000,"Role - Data ScientistLoccation - NYC, NYPositi...",3.8,Enterprise Solutions Inc.,Staffing & Outsourcing,Business Services,New York,NY
319,Data Scientist,$145000-$225000,"Job DescriptionSelecting features, building an...",-1.0,Microagility,Consulting,Business Services,New York,NY
332,Machine Learning Engineer/Scientist,$79000-$147000,About the PositionJane Street is seeking excep...,4.8,Jane Street.,Investment Banking & Asset Management,Finance,New York,NY
341,Data Scientist,$79000-$147000,"Hi,Greetings of the Day!!!Looking for Data Sci...",4.8,TechProjects.,IT Services,Information Technology,New York,NY
342,"VP, Data Science",$79000-$147000,"We are looking for a VP, Data Science to lead ...",3.9,Park Data.,Research & Development,Business Services,New York,NY
349,Data Scientist,$122000-$146000,We are the most sought after hedge fund in New...,5.0,Averity.,Staffing & Outsourcing,Business Services,New York,NY
425,Data Scientist,$124000-$198000,"Job DescriptionSelecting features, building an...",-1.0,Microagility,Consulting,Business Services,New York,NY
427,Data Scientist,$79000-$133000,"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation.,Internet,Information Technology,New York,NY
445,Machine Learning Engineer/Scientist,$79000-$133000,About the PositionJane Street is seeking excep...,4.8,Jane Street.,Investment Banking & Asset Management,Finance,New York,NY
460,Data Scientist,$69000-$116000,As a data scientist at TBWA\Chiat\Day New York...,2.7,TBWA\Chiat\Day.,Advertising & Marketing,Business Services,New York,NY
465,Data Scientist,$69000-$116000,"Hi,Greetings of the Day!!!Looking for Data Sci...",4.8,TechProjects.,IT Services,Information Technology,New York,NY
469,"VP, Data Science",$31000-$56000,"We are looking for a VP, Data Science to lead ...",3.9,Park Data.,Research & Development,Business Services,New York,NY
490,Data Scientist,$95000-$119000,"Use statistical analysis, machine learning, pa...",4.0,Lorven Technologies Inc.,Accounting,Accounting & Legal,New York,NY
511,Data Scientist(s)/Machine Learning Engineer,$212000-$331000,Company: AI/Data ScienceLocation: New York Cit...,5.0,Blue Horizon Tek Solutions.,Staffing & Outsourcing,Business Services,New York,NY
524,Data Scientist,$212000-$331000,CompuForce is seeking an experienced and highl...,-1.0,CompuForce,-1,-1,New York,NY
527,Data Scientist,$212000-$331000,DescriptionThe Data Scientist will be part of ...,2.7,--Flowers.,Wholesale,Business Services,New York,NY
546,Data Scientist,$66000-$112000,Responsibilities Play a key role to solve comp...,4.6,HAN IT Staffing Inc..,IT Services,Information Technology,New York,NY
558,Clinical Data Analyst,$128000-$201000,About Us:NYSTEC is a non-profit technology con...,3.8,NYSTEC.,Consulting,Business Services,New York,NY
567,Machine Learning Engineer,$128000-$201000,"Machine Learning EngineerAt Temboo, we build s...",3.9,Temboo.,IT Services,Information Technology,New York,NY
588,Senior Data Engineer,$138000-$158000,Senior Data EngineerMaster’s degree in Informa...,2.9,Affinity Solutions.,Advertising & Marketing,Business Services,New York,NY
605,Data Scientist,$80000-$132000,"Use statistical analysis, machine learning, pa...",4.0,Lorven Technologies Inc.,Accounting,Accounting & Legal,New York,NY
631,"Data Scientist, Kinship - NYC/Portland",$92000-$155000,Back to search resultsPrevious jobNext jobJOB ...,3.9,Mars.,Food & Beverage Manufacturing,Manufacturing,New York,NY
640,Data Scientist(s)/Machine Learning Engineer,$92000-$155000,Company: AI/Data ScienceLocation: New York Cit...,5.0,Blue Horizon Tek Solutions.,Staffing & Outsourcing,Business Services,New York,NY
671,Data Scientist,$105000-$167000,DescriptionThe Data Scientist will be part of ...,2.7,--Flowers.,Wholesale,Business Services,New York,NY

In [21]:
#Function to filter dataset for a specific state
def state_filter(state):
    filtered_state = job_data[job_data['State'] == state]
    return filtered_state

In [22]:
state_filter('MA')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,Consulting,Business Services,Boston,MA
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,Electrical & Electronic Manufacturing,Manufacturing,Newton,MA
6,Data Scientist / Machine Learning Expert,$137000-$171000,Posting TitleData Scientist / Machine Learning...,3.9,Novartis.,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Cambridge,MA
7,Data Scientist,$137000-$171000,IntroductionHave you always wanted to run expe...,3.5,iRobot.,Consumer Electronics & Appliances Stores,Retail,Bedford,MA
27,Data Scientist-Human Resources,$137000-$171000,"Lexington, MA, US#job-location.job-location-in...",3.8,MIT Lincoln Laboratory.,Aerospace & Defense,Aerospace & Defense,Lexington,MA
...,...,...,...,...,...,...,...,...,...
585,"Sr. Research Associate/ Scientist, NGS prep & ...",$138000-$158000,We are seeking a Sr. Research Associate/Scient...,4.4,"Homology Medicines, Inc..",-1,-1,New Bedford,MA
614,Data Scientist,$87000-$141000,Req ID: 70906BRJob DescriptionAbout the team. ...,3.2,First Health Group.,Insurance Carriers,Insurance,Wellesley,MA
649,Data Science Software Engineer,$92000-$155000,We love programming and the excitement that co...,4.8,Klaviyo.,Computer Hardware & Software,Information Technology,Boston,MA
650,"Scientist / Group Lead, Cancer Biology",$92000-$155000,"Scientist / Group Lead, Cancer BiologyLocation...",-1.0,Monte Rosa Therapeutics,-1,-1,Cambridge,MA
666,Data Scientist,$105000-$167000,About Foundation Medicine:Foundation Medicine ...,4.0,Foundation Medicine.,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Boston,MA

In [23]:
# filter company based on a minimum rating
def rating_filter(rating):
    filtered_rating = job_data[job_data['Rating'] >= rating]
    return filtered_rating

In [24]:
rating_filter(4.0)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,Research & Development,Business Services,Chantilly,VA
5,Data Scientist,$137000-$171000,About Us:Headquartered in beautiful Santa Barb...,4.2,HG Insights.,Computer Hardware & Software,Information Technology,Santa Barbara,CA
8,Staff Data Scientist - Analytics,$137000-$171000,Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data.,Computer Hardware & Software,Information Technology,San Diego,CA
10,Data Scientist,$137000-$171000,Join our team dedicated to developing and exec...,4.5,Novetta.,Enterprise Software & Network Solutions,Information Technology,Herndon,VA
11,Data Scientist,$137000-$171000,About UsInterested in working for a human-cent...,4.7,labs.,IT Services,Information Technology,Saint Louis,MO
...,...,...,...,...,...,...,...,...,...
655,Data Scientist,$105000-$167000,"Role: Data ScientistÂLocation: Washington, DC ...",4.0,Comtech Global Inc.,"Health, Beauty, & Fitness",Consumer Services,Washington,DC
662,Data Scientist,$105000-$167000,Solution IT Inc. is looking for an Data Scient...,4.4,"SolutionIT, Inc..",-1,-1,Edison,NJ
663,Data Scientist,$105000-$167000,Job DescriptionEducation and Experience:At lea...,4.1,A-Line Staffing Solutions.,Staffing & Outsourcing,Business Services,Durham,NC
666,Data Scientist,$105000-$167000,About Foundation Medicine:Foundation Medicine ...,4.0,Foundation Medicine.,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Boston,MA
670,Data Scientist,$105000-$167000,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated.,Advertising & Marketing,Business Services,San Francisco,CA

In [25]:
job_data=job_data[job_data["Industry"].str.contains("-1") == False]

In [26]:
job_data=job_data[job_data["Sector"].str.contains("-1") == False]
job_data

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,Insurance Carriers,Insurance,New York,NY
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,Research & Development,Business Services,Chantilly,VA
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,Consulting,Business Services,Boston,MA
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,Electrical & Electronic Manufacturing,Manufacturing,Newton,MA
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,Advertising & Marketing,Business Services,New York,NY
...,...,...,...,...,...,...,...,...,...
665,Data Scientist,$105000-$167000,Criterion Systems seeks a Data Scientist to su...,3.8,"Criterion Systems, Inc..",IT Services,Information Technology,Vienna,VA
666,Data Scientist,$105000-$167000,About Foundation Medicine:Foundation Medicine ...,4.0,Foundation Medicine.,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Boston,MA
667,Data Scientist,$105000-$167000,SummaryWe’re looking for a data scientist to d...,3.6,TRANZACT.,Advertising & Marketing,Business Services,Fort Lee,NJ
670,Data Scientist,$105000-$167000,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated.,Advertising & Marketing,Business Services,San Francisco,CA
671,Data Scientist,$105000-$167000,DescriptionThe Data Scientist will be part of ...,2.7,--Flowers.,Wholesale,Business Services,New York,NY

In [27]:
rating_filter(4.0)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,Research & Development,Business Services,Chantilly,VA
5,Data Scientist,$137000-$171000,About Us:Headquartered in beautiful Santa Barb...,4.2,HG Insights.,Computer Hardware & Software,Information Technology,Santa Barbara,CA
8,Staff Data Scientist - Analytics,$137000-$171000,Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data.,Computer Hardware & Software,Information Technology,San Diego,CA
10,Data Scientist,$137000-$171000,Join our team dedicated to developing and exec...,4.5,Novetta.,Enterprise Software & Network Solutions,Information Technology,Herndon,VA
11,Data Scientist,$137000-$171000,About UsInterested in working for a human-cent...,4.7,labs.,IT Services,Information Technology,Saint Louis,MO
...,...,...,...,...,...,...,...,...,...
651,AI Ops Data Scientist,$92000-$155000,"CompanyAstraZeneca is a global, innovation-dri...",4.0,AstraZeneca.,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Gaithersburg,MD
655,Data Scientist,$105000-$167000,"Role: Data ScientistÂLocation: Washington, DC ...",4.0,Comtech Global Inc.,"Health, Beauty, & Fitness",Consumer Services,Washington,DC
663,Data Scientist,$105000-$167000,Job DescriptionEducation and Experience:At lea...,4.1,A-Line Staffing Solutions.,Staffing & Outsourcing,Business Services,Durham,NC
666,Data Scientist,$105000-$167000,About Foundation Medicine:Foundation Medicine ...,4.0,Foundation Medicine.,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Boston,MA
670,Data Scientist,$105000-$167000,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated.,Advertising & Marketing,Business Services,San Francisco,CA