In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-science-job-posting-on-glassdoor/Uncleaned_DS_jobs.csv
/kaggle/input/data-science-job-posting-on-glassdoor/Cleaned_DS_Jobs.csv

# DATA CLEANING & TRANSFORMATION
## *DS JOBS ON GLASSDOR*

In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
job_data = pd.read_csv ("/kaggle/input/data-science-job-posting-on-glassdoor/Uncleaned_DS_jobs.csv")

In [4]:
job_data.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [5]:
job_data.dropna()
col_names = list(job_data.columns) #list of column names to see which colunm is irrelevant to use

In [6]:
col_names

['index',
 'Job Title',
 'Salary Estimate',
 'Job Description',
 'Rating',
 'Company Name',
 'Location',
 'Headquarters',
 'Size',
 'Founded',
 'Type of ownership',
 'Industry',
 'Sector',
 'Revenue',
 'Competitors']

In [7]:
job_data= job_data.drop(['index', 'Size', 'Founded', 'Type of ownership', 'Competitors', 'Revenue', 'Headquarters'], axis=1)

In [8]:
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",Advertising & Marketing,Business Services

In [9]:
# remove the number in company name column
job_data['Company Name'] = job_data['Company Name'].str.replace('\d+', '', regex=True)

In [10]:
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n.,"New York, NY",Advertising & Marketing,Business Services

In [11]:
#remove \n in the company name column
job_data['Company Name'] = job_data['Company Name'].str.replace('\n', '')
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services

In [12]:
#remove (Glassdoor est.) in the salart estimate column
job_data['Salary Estimate'] = job_data['Salary Estimate'].str.replace(r"\(.*\)","", regex = True)
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services

In [13]:
#replace K in salary into 000 (integers)
job_data['Salary Estimate'] = job_data['Salary Estimate'].str.replace('K', '000')
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137000-$171000,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137000-$171000,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137000-$171000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services

In [14]:
#remove unwanted words in job description
job_data['Job Description'] = job_data['Job Description'].str.replace('\n', '')
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services

In [15]:
#split location column into City & State
job_data[['City', 'State']] = job_data['Location'].str.split(', ', n=1, expand=True)
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Industry,Sector,City,State
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,"New York, NY",Insurance Carriers,Insurance,New York,NY
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,"Chantilly, VA",Research & Development,Business Services,Chantilly,VA
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,"Boston, MA",Consulting,Business Services,Boston,MA
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,"Newton, MA",Electrical & Electronic Manufacturing,Manufacturing,Newton,MA
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,"New York, NY",Advertising & Marketing,Business Services,New York,NY

In [16]:
#drop location column
job_data= job_data.drop('Location', axis=1)
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,Insurance Carriers,Insurance,New York,NY
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,Research & Development,Business Services,Chantilly,VA
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,Consulting,Business Services,Boston,MA
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,Electrical & Electronic Manufacturing,Manufacturing,Newton,MA
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,Advertising & Marketing,Business Services,New York,NY

In [17]:
#drop index
job_data = job_data.reset_index(drop=True)
job_data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Industry,Sector,City,State
0,Sr Data Scientist,$137000-$171000,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst.,Insurance Carriers,Insurance,New York,NY
1,Data Scientist,$137000-$171000,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech.,Research & Development,Business Services,Chantilly,VA
2,Data Scientist,$137000-$171000,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group.,Consulting,Business Services,Boston,MA
3,Data Scientist,$137000-$171000,JOB DESCRIPTION:Do you have a passion for Data...,3.5,INFICON.,Electrical & Electronic Manufacturing,Manufacturing,Newton,MA
4,Data Scientist,$137000-$171000,Data ScientistAffinity Solutions / Marketing C...,2.9,Affinity Solutions.,Advertising & Marketing,Business Services,New York,NY